
<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>写稿</title>
		<link href="__PUBLIC__/newsmedia/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/newsmedia/css/summernote.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/newsmedia/css/css.css" />
	</head>

	<body>
		<div class="top">
            <div class="container">
                <div class="pull-left">
                    <a href="" class="wx">微信</a>
<!--                     <a href="">微博</a> -->
                </div>
                <div class="pull-right">
                    <notempty name="userInfo">
                        <a href="">{$userInfo['nickname']}</a>
                        <a href="/index.php?m=Home&c=User&a=logout">退出</a>
                        <a href="{:U('Article/write')}" class="wr text-center">写稿</a>
                    <else/>
                        <a href="{:U('User/login')}">登陆</a>
                        <a href="{:U('User/reg')}" class="reg text-right">注册</a>
                        <a href="{:U('Article/write')}" class="wr text-center">写稿</a>
                    </notempty>
                </div>
            </div>
        </div>
		<div class="menu">
            <div class="container">
                <div class="logo pull-left">
                    <a href="/"><img src="__PUBLIC__/newsmedia/img/logo.jpg" alt="logo" /></a>
                </div>
                <ul class="menu-list pull-left">
                    <li>
                        <a href="{:U('home/index/index')}">首页</a>
                    </li>
                    <li>
                        <a href="#">阅读 v</a>
                        <div class="popover fade bottom in" role="tooltip" id="popover232455" style="top:72px; left: -38px;">
                            <div class="arrow" style="left: 50%;"></div>
                            <div class="popover-content">
                                <?php foreach ($one as $v): ?>
                                    <a href="{:U('Home/Article/articleList',array('cat_id'=>$v['cat_id']))}">{$v['cat_name']}</a>
                                <?php endforeach ?>
                            </div>
                        </div>

                    </li>
                    <?php foreach ($twotwo as $v): ?>
                        <li>
                            <a href="{:U('Home/Article/articleList',array('cat_id'=>$v['cat_id']))}">{$v['cat_name']}</a>
                        </li>
                    <?php endforeach ?>
                    <li>
                        <a href="{:U('Activity/index')}">活动</a>
                    </li>
                </ul>
                <form class="search pull-right" action="{:U('index/aaa')}" method="post" onsubmit="return checkseach(this)">
                    <button type="submit" class="pull-right submit"><span class="glyphicon glyphicon-search"></span></button>
                    <input type="text" name="seach" id="seach" class="pull-right input" placeholder="请输入搜索关键字">
                </form>
            </div>
        </div>

		<div class="container writing">
			<h2 class="text-center">发布内容</h2>
			<div class="form-group clearfix">
				<input type="text" name="title" id="title" class="form-control title-input pull-left" placeholder="请输入文章标题">
				<span>请输入<i id="">10~20</i>个字</span>
			</div>
			<div id="summernote" name="content"></div>

			<div class="login send">
				<button type="submit" class="btn btn-lg btn-block" id="confirm">发布</button>
			</div>
			<p class="text-center notice1">发布内容须遵守</p>
			<p class="text-center notice2">
				<a class="color-f0" href="">《关于“新三板”内容发布协议》</a>
			</p>
		</div>
		

		<div class="footer">
			<div class="footer-footer">
				<div class="container">
					<div class="text-center">
						<img src="__PUBLIC__/newsmedia/img/f_logo.png" alt="logo" />
					</div>
					<ul class="text-center">
						<li>
							<a href="">关于新声</a>
						</li>
						<li>
							<a href="">广告合作</a>
						</li>
						<li>
							<a href="">创业求报道</a>
						</li>
						<li>
							<a href="">移动客户端</a>
						</li>
						<li>
							<a href="">帮助</a>
						</li>
						<li>
							<a href="">RSS订阅</a>
						</li>
						<li>
							<a href="">邮件订阅</a>
						</li>
						<li>
							<a href="">意见与建议</a>
						</li>
						<li>
							<a href="">友情链接</a>
						</li>
					</ul>
					<p>©2010-2015 www.newspost.cn 深圳市前海新声传媒科技有限公司 版权所有 粤ICP备 15050282号</p>
				</div>
			</div>
			<div class="footer-link text-center">
				<a>合作伙伴：</a>
				<a href="">平安信托</a>
				<a href="">招商银行 </a>
				<a href="">深媒会</a>
				<a href="">平安银行</a>
				<a href="">凤凰金融</a>
			</div>
		</div>
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="__PUBLIC__/newsmedia/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/newsmedia/js/summernote.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/newsmedia/js/summernote-zh-CN.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#summernote').summernote({
					height: "300px",
					lang: 'zh-CN',
					callbacks: {
						onImageUpload: function(files) { //the onImageUpload API  
							img = sendFile(files[0]);
						}
					}
				});
			});
			//编辑器上传图片
			function sendFile(file) {
				data = new FormData();
				data.append("file", file);
				$.ajax({
					data: data,
					type: "POST",
					url: "{:U('Upload/upload')}",
					cache: false,
					contentType: false,
					processData: false,
					success: function(url) {
						$("#summernote").summernote('insertImage', url, 'image');
					}
				});
			}
			//发布方法
			// var confirm = document.getElementById("confirm");
			// confirm.onclick = function(){
			// 	var str= $('#summernote').code();
			// 	alert(str);
			// }
			 $("#confirm").click(function() {
		        var title = $("#title").val();
		        var content =  $('#summernote').summernote('code');
		        if(title == "" || content == "") {
		          alert("标题或内容不能为空");
		          return false;
		        }

		        $.ajax("{:U('Home/Article/writeAdd')}", {
		          data: {
		            title: title,
		            content: content,
		          },
		          dataType: 'json',
		          type: 'post',
		          timeout: 5000,
		          async: true,
		          success: function(data) {
		            if(data.status == 1) {
		              alert("内容已经提交成功，请等待管理员审核~");
		              location.href="{:U('Home/Index/index')}";
		            } else {
		              alert("内容发布失败");
		            }

		          }
		        })

      })
			
		</script>
	</body>

</html>