<!--------头部开始-------------->
<include file="Public/header" />
<!--------头部结束-------------->
		<div class="container contact clearfix">
			<div class="pull-left intr">
				<div class="text-center">
					<img src="__IMG__contact_logo.png" />
				</div>
				<p><span class="color66">深圳珠宝咨询网</span>是由胡博士珠宝同学会、深圳市胡博士珠 宝文化传播有限公司和深圳职业技术学院珠宝学院联合组办珠宝知 识性文化推广网站，主要目的是宣传珠宝知识、传播玉石文化、弘扬 民族精髓，为广大网民提供即时的珠宝玉石在线咨询服务，共同推进 我国珠宝玉石文化的发展与繁荣。
				</p>
			</div>
			<div class="pull-left cont">
				<h3>联系我们</h3>
				<div class="cont-c">
					<h4>胡博士珠宝同学会：</h4>
					<p class="add">广东省深圳市罗湖区翠竹路2028号翠竹大厦1301室</p>
					<p class="con">联系人：胡博士 13352969660 QQ：183745158</p>
					<h4>深圳市胡博士珠宝文化传播有限公司：</h4>
					<p class="add">广东省深圳市罗湖区翠竹路2028号翠竹大厦1301室</p>
					<p class="con">联系人：胡博士 13352969660 QQ：183745158</p>
					<h4>胡博士珠宝同学会：</h4>
					<p class="add">广东省深圳市罗湖区翠竹路2028号翠竹大厦1301室</p>
					<p class="con">联系人：胡博士 13352969660 QQ：183745158</p>
				</div>

			</div>

		</div>
		<!--------头部开始-------------->
		<include file="Public/footer" />
		<!--------头部结束-------------->
		<script>
			function checkseach() {
				var seach = $("#seach").val();
				if(seach == "") {
					alert("请输入搜索关键字");
					return false;
				}
			}
		</script>

	</body>

</html>