
<div class="footer text-center">
	<p>	深圳市福田区艾枫家居饰品店</p>
	<p><a href="http://www.miibeian.gov.cn" style="border: 0;">粤ICP备16092423号-1</a></p>
</div>
<div class="glyphicon glyphicon-chevron-up go-up"></div>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="__JS__bootstrap.min.js"></script>
<script src="/Public/js/layer/layer.js"></script>
<!--
<script>
(function($){
		var url = document.location.href;
		if(url.search("id") === (-1)){
			$("#navigation").find("li").eq(0).addClass("active").siblings("li").removeClass("active");
		}else{
			var newstr = url.slice(url.search("id"));
			switch (Number(newstr.slice(3))){
				case 1:
					$(".navigation").find("li").eq(1).addClass("active").siblings("li").removeClass("active");
				break;
				case 2:
					$(".navigation").find("li").eq(2).addClass("active").siblings("li").removeClass("active");
				break;
				case 12:
					$(".navigation").find("li").eq(3).addClass("active").siblings("li").removeClass("active");
				break;
				case 16:
					$(".navigation").find("li").eq(4).addClass("active").siblings("li").removeClass("active");
				break;
				case 19:
					$(".navigation").find("li").eq(5).addClass("active").siblings("li").removeClass("active");
				break;
			};
		};
	})(jQuery);
</script>
-->