<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>咨询列表</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="stylesheet" type="text/css" href="__CSS__mui.min.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__css.css" />
		<script src="__JS__mui.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="mui-content consult">
			<div id="slider" class="mui-slider mui-fullscreen">
				<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control-inverted mui-segmented-control">
					<a class="mui-control-item mui-active" href="#item1mobile">
						全部咨询
					</a>
					<a class="mui-control-item" href="#item2mobile">
						已解决咨询
					</a>
					<a class="mui-control-item" href="#item3mobile">
						待解决咨询
					</a>
				</div>
				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="consult-card">
									<volist name="consult" id="vo">
										<li>
											<a href="{:U('Consult/detail',array('id'=>$vo['consult_id']))}">
												<div class="consult-body">
													<div class="title"> {$vo.tittle}
														<if condition="$vo.status eq 1 ">
															<span class="mui-pull-right al">已解决问题</span>
														<else />
															<span class="mui-pull-right wait">待解决问题</span> 
														</if>
														
													</div>
													<div class="cont mui-clearfix">
													    <div class="cont-img">
														   <img onerror="onerror=null;src='__IMG__c_goods.jpg'" src="{$vo['path'][0]}">
														</div>
														<p>
															{$vo.detail|getSubstr=0,150,"..."}
														</p>
													</div>
												</div>
												<div class="mui-table">
													<div class="mui-table-cell"><span class="date">{$vo.createtime|date="Y/m/d",###}</span></div>
													<div class="mui-table-cell"><span class="nick-name">{$vo.nickname}</span></div>
													<div class="mui-table-cell mui-text-right"><span class="zan">赞({$vo.like})</span></div>
													<div class="mui-table-cell mui-text-right"><span class="collect">收藏({$vo.collect})</span></div>
												</div>
											</a>
										</li>
									</volist>
								</ul>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="consult-card">
									<volist name="solve" id="vo">
										<li>
											<a href="{:U('Consult/detail',array('id'=>$vo['consult_id']))}">
												<div class="consult-body">
													<div class="title"> {$vo.tittle}
														<if condition="$vo.status eq 1 ">
															<span class="mui-pull-right al">已解决问题</span>
														<else />
															<span class="mui-pull-right wait">待解决问题</span> 
														</if>
														
													</div>
													<div class="cont mui-clearfix">
													<div class="cont-img">
														<img onerror="onerror=null;src='__IMG__c_goods.jpg'" src="{$vo['path'][0]}">
													</div>
														<p>
															{$vo.detail|getSubstr=0,150,"..."}
														</p>
													</div>
												</div>
												<div class="mui-table">
													<div class="mui-table-cell"><span class="date">{$vo.createtime|date="Y/m/d",###}</span></div>
													<div class="mui-table-cell"><span class="nick-name">{$vo.nickname}</span></div>
													<div class="mui-table-cell mui-text-right"><span class="zan">赞({$vo.like})</span></div>
													<div class="mui-table-cell mui-text-right"><span class="collect">收藏({$vo.collect})</span></div>
												</div>
											</a>
										</li>
									</volist>
								</ul>
							</div>
						</div>
					</div>
					<div id="item3mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="consult-card">
									<volist name="unsolve" id="vo">
										<li>
											<a href="{:U('Consult/detail',array('id'=>$vo['consult_id']))}">
												<div class="consult-body">
													<div class="title"> {$vo.tittle}
														<if condition="$vo.status eq 1 ">
															<span class="mui-pull-right al">已解决问题</span>
														<else />
															<span class="mui-pull-right wait">待解决问题</span> 
														</if>
														
													</div>
													<div class="cont mui-clearfix">
													<div class="cont-img">
														<img onerror="__IMG__c_goods.jpg" src="{$vo['path'][0]}">
													</div>
														<p>
															{$vo.detail|getSubstr=0,150,"..."}
														</p>
													</div>
												</div>
												<div class="mui-table">
													<div class="mui-table-cell"><span class="date">{$vo.createtime|date="Y/m/d",###}</span></div>
													<div class="mui-table-cell"><span class="nick-name">{$vo.nickname}</span></div>
													<div class="mui-table-cell mui-text-right"><span class="zan">赞({$vo.like})</span></div>
													<div class="mui-table-cell mui-text-right"><span class="collect">收藏({$vo.collect})</span></div>
												</div>
											</a>
										</li>
									</volist>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<nav class="mui-bar mui-bar-tab" id="bar-tab">
			<a class="mui-tab-item" href="{:U('Index/index')}">
				<span class="mui-icon"><img src="__IMG__bar_1.png"/></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item mui-active" href="{:U('Consult/index')}">
				<span class="mui-icon"><img src="__IMG__bar_2.png"/></span>
				<span class="mui-tab-label">咨询</span>
			</a>
			<a class="mui-tab-item" href="{:U('Goods/index')}">
				<span class="mui-icon"><img src="__IMG__bar_3.png"/></span>
				<span class="mui-tab-label">商城</span>
			</a>
			<a class="mui-tab-item" href="{:U('User/center')}" style="border-right: 0;">
				<span class="mui-icon"><img src="__IMG__bar_4.png"/></span>
				<span class="mui-tab-label">个人</span>
			</a>
		</nav>
		<script src="__JS__mui.pullToRefresh.js"></script>
		<script>
			mui.init();
			(function($) {
				var deceleration = mui.os.ios ? 0.003 : 0.0009;
				$('.mui-scroll-wrapper').scroll({
					bounce: false,
					indicators: true, //是否显示滚动条
					deceleration: deceleration
				});
				$.ready(function() {
					//循环初始化所有上拉加载
					$.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
						var count = 0;
						$(pullRefreshEl).pullToRefresh({
							up: {
								callback: function() {
									var self = this;
									isnodata = false;
									setTimeout(function() {									   
										var ul = self.element.querySelector('.consult-card');
										var length = ul.querySelectorAll('li').length;
										mui.ajax("{:U('ajaxConsult')}", {
											data: {
												start: length,
												type: index,
											},
											dataType: 'json',
											type: 'get',
											timeout: 10000,
											async: true,
											success: function(data) {
												var Html = "";
												if(data.code == 200) {
													mui.each(data.result, function(i, item) {
														if(item.status == '1'){
															var _status ='<span class="mui-pull-right al">已解决问题</span></div>';
														}else{
															var _status ='<span class="mui-pull-right wait">待解决问题</span></div>';
														}														
													    li = document.createElement('li');										
														Html += '<a href="'+"{:U('Consult/detail')}?id="+item.consult_id+'">';
														Html += '<div class="consult-body">';
														Html += '<div class="title">'+item.tittle+_status;
														Html += '<div class="cont mui-clearfix">';
														Html += '<div class="cont-img">';
														Html += '<img src="'+item['path'][0]+'">';
														Html += '</div>';
														Html += '<p>'+item.detail+'</p>';
														Html += '</div>';
														Html += '</div>';
														Html += '<div class="mui-table">';
														Html += '<div class="mui-table-cell"><span class="date">'+item.createtime+'</span></div>';
														Html += '<div class="mui-table-cell"><span class="nick-name">'+item.nickname+'</span></div>';
														Html += '<div class="mui-table-cell mui-text-right"><span class="zan">赞('+item.like+')</span></div>';
														Html += '<div class="mui-table-cell mui-text-right"><span class="collect">收藏('+item.collect+')</span></div>';
														Html += '</div>';
														Html += '</a>';														
														li.innerHTML =Html
														ul.appendChild(li);
													});
												}else{
													 isnodata = true;
												}
												self.endPullUpToRefresh(isnodata);	
											}
										})										
									}, 1000);
								}
							}
						});
					});
				});
			})(mui);
			mui('.mui-bar-tab').on('tap', 'a', function(e) {
				var targetTab = this.getAttribute('href');
				mui.openWindow({
					url: targetTab,
					id: targetTab,
				})
			});
		</script>
	</body>

</html>