<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>联系我们</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="stylesheet" type="text/css" href="__CSS__mui.min.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__css.css" />
		<script src="__JS__mui.min.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="mui-content contact">
			<div class="top">
				<div class="head"><img src="/Public/home/img/contact_logo.png" /></div>
				<p class="mui-text-center by">深圳职业技术学院 & 胡博士珠宝同学会</p>
				<p class="intr">深圳珠宝咨询网是由胡博士珠宝同学会、深圳市胡博士珠宝文化传播有 限公司和深圳职业技术学院珠宝学院联合组办珠宝知识性文化推广网站，主 要目的是宣传珠宝知识、传播玉石文化、弘扬民族精髓，为广大网民提供即 时的珠宝玉石在线咨询服务，共同推进我国珠宝玉石文化的发展与繁荣。
				</p>
			</div>
			<ul>
				<li>
					<div class="cotegory-title">胡博士珠宝同学会</div>
					<div class="address">
						<p class="add">广东省深圳市罗湖区翠竹路2028号翠竹大厦1301室</p>
						<p>联系人</p>
						<p>王小姐 ：13751061938　　张小姐：13510558233</p>
					</div>
				</li>
				<li>
					<div class="cotegory-title">深圳市胡博士珠宝文化传播有限公司</div>
					<div class="address">
						<p class="add">广东省深圳市罗湖区翠竹路2028号翠竹大厦1301室</p>
						<p>联系人</p>
						<p>王小姐 ：13751061938　　张小姐：13510558233</p>
					</div>
				</li>
				<li>
					<div class="cotegory-title">深圳职业技术学院珠宝学院</div>
					<div class="address">
						<p class="add">广东省深圳市罗湖区翠竹路2028号翠竹大厦1301室</p>
						<p>联系人</p>
						<p>王小姐 ：13751061938　　张小姐：13510558233</p>
					</div>
				</li>
			</ul>
		</div>
	</body>

</html>